<% layout("/layouts/boilerplate.ejs") %>

<!-- go to the bootstrap and using the alert code here -->
<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <p class="alert-heading"><%= message %></p>
      </div>
</div>