<% layout("/layouts/boilerplate.ejs") %>

<!-- go to the bootstrap and using the alert code here -->
<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <p class="alert-heading"><%= message %></p>

        <!-- this is used to show the whole errror information with path
        <p><%= err.message %></p>
        <p><%= err.stack %></p> -->

      </div>
</div>