<%- layout("layouts/boilerplate.ejs") %>
  <div class="row mt-3"> <!-- mt means margin from top-->

    <div class="col-8 offset-2"> <!-- offset means left-margin -->

      <h3>Create a new Listing:</h3>

      <form method="POST" action="/listings" class="needs-validation" novalidate >
        <!--class="needs-validation" take from bootstrap-->
        <div class="mb-3"> <!-- mb = margin bottom3-->
          <label for="title" class="form-label">Title</label>
          <input type="text" 
          placeholder="Add a catchy title" 
          name="listing[title]" 
          class="form-control" 
          required 
          />
         <div class="valid-feedback">
          Title looks good!
         </div> 
         <div class="invalid-feedback">
          Title is required
         </div>

        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
           <textarea name="listing[description]" class="form-control" required></textarea>

          
          <!-- here i give the failure text or else Invalid text -->
          <div class="invalid-feedback">
            Description should be valid.
          </div> 
          <div class="valid-feedback">
            Great work
          </div>

        </div>

        <div class="mb-3">
          <label for="imgae" class="form-label">Image Link</label>
          <input type="text" 
          placeholder="Enter image URL/Link" 
          name="listing[image]" 
          class="form-control" />

        </div>

        <div class="row">

          <div class="mb-3 col-md-4"> <!-- col -md-3 means medium pr aa kar column 3 ho jayega-->
            <label for="price" class="form-label">Price</label>
             <input  
            placeholder="1200"
            name="listing[price]"
            class="form-control"
            required
            />

            <!-- here i give the failure text or else Invalid text -->
            <!-- <div class="invalid-feedback">
              Price should be valid.
            </div> -->
          </div>

          <div class="mb-3   col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text"
             placeholder="Delhi,India"
              name="listing[location]" 
              class="form-control" 
              required 
              />

            <!-- here i give the failure text or else Invalid text -->
            <!-- <div class="invalid-feedback">
              Location should be valid.
            </div> -->
          </div>
        </div>

        <div class="mb-3">
          <label for="countrey" class="form-label">Country</label>
          <input type="text" 
          placeholder="India" 
          name="listing[country]"
           class="form-control" 
           required 
           />

          <!-- here i give the failure text or else Invalid text -->
          <!-- <div class="invalid-feedback">
            Country should be valid.
          </div> -->

        </div>

        <button class="btn btn-dark  mt-3">Add</button>
        <br /> <br />
      </form>
    </div>
  </div>
 